body {
    padding-bottom: 1%;
}

.container{
  margin-top: 1em;
}

#graph-container .columns {
  margin: 0;
}

.graph {
  width: 100% !important;
  height: 300px;
  margin: 2em 0;
}

#chart-container h1,
#chart-container h2 {
  text-align: center;
  margin-top: 1em;
}

.newest-value {
  text-align: right;
}
.newest-value-heading {
  margin-top: 1em;
  margin-bottom: 0;
}

.button.button-primary {
  background-color: #6AD0FF;
}
.button.button-primary:hover {
  background-color: #92E1FA;
  border-color: #69CEEE;
}

.active {
  background-color: #23A4DF !important;
  border-color: #008BCB !important;
  cursor: default;
}

#mapOptions {
  text-align: right;
}

.fa-big {
  font-size: 20em;
  color: #23A4DF;
}

.loading-placeholder {
  text-align: center;
  font-size: 3em;
}

.text-center {
  text-align: center;
}
